:root {
  --principal: #ffcc00;
}

.bg-contacto,
.bg-servicios,
.bg-login {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
}

.bg-contacto {
  background-image: url("/contacto.webp");
}

.bg-servicios {
  background-image: url("/servicios.webp");
}

.bg-login {
  background-image: url("/background_PROGPS.webp");
}
